@import 'https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  font-family: 'Hanken Grotesk', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
