// ## Colors

// ### Primary

$Light-red: hsl(0, 100%, 67%, 01);
$Orangey-yellow: hsl(39, 100%, 56%);
$Green-teal: hsl(166, 100%, 37%);
$Cobalt-blue: hsl(234, 85%, 45%);

$Light-red-lighter: hsla(0, 100%, 67%, 0.1);
$Orangey-yellow-lighter: hsla(39, 100%, 56%, 0.1);
$Green-teal-lighter: hsla(166, 100%, 37%, 0.1);
$Cobalt-blue-lighter: hsla(234, 85%, 45%, 0.1);

// ## Gradients
//  (background)(background)
$Light-slate-blue: hsl(252, 100%, 67%);
$Light-royal-blue: hsl(241, 81%, 54%);
//  (circle) (circle)
$Violet-blue: hsla(256, 72%, 46%, 1);
$Persian-blue: hsla(241, 72%, 46%, 0);

// ### Neutral
$White: hsl(0, 0%, 100%);
$Pale-blue: hsl(221, 100%, 96%);
$Light-lavender: hsl(241, 100%, 89%);
$Dark-gray-blue: hsl(224, 30%, 27%);

$Dark-gray-blue-lighter: hsl(224, 30%, 27%, 0.5);

$font-weigths: (
  'reg-x': 500,
  'bold': 700,
  'bold-x': 800,
);

$paragraph-font: 18px;

@mixin centerStyles() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@function weigth($value) {
  @return map-get($font-weigths, $value);
}
