// Overpass font
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
// Ubuntu specimen font
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$overpass-font-weigth: (
  'skinny': 300,
  'regular': 400,
);
$specimen-font-weigth: (
  'regular': 400,
  'bold': 500,
  'bolder': 700,
);

// Primary colors
// (CTA text)
$light-red: hsl(356, 100%, 66%);
// (CTA hover background)
$very-light-red: hsl(355, 100%, 74%);
// (headings)
$very-dark-blue: hsl(208, 49%, 24%);

// Neutral colors
// (text)
$white: hsl(0, 0%, 100%);
// (footer text)
$grayish-blue: hsl(240, 2%, 79%);
// (body copy)
$very-dark-grayish-blue: hsl(207, 13%, 34%);
// (footer background)
$very-dark-black-blue: hsl(240, 10%, 16%);

// ### Gradient
// Background gradient - Intro/CTA mobile nav:
$very-light-red: hsl(13, 100%, 72%);
$light-red: hsl(353, 100%, 62%);

// Background gradient - body:
$very-dark-gray-blue: hsl(237, 17%, 21%);
$very-dark-desaturated-blue: hsl(237, 23%, 32%);
