@import 'resets';
@import 'variables';

body {
  font-family: 'Overpass', sans-serif;
}

// Mixins
@mixin centerContent() {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin ceneredDirection($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}
@mixin commonBtnStyles() {
  border: none;
  min-width: 169.3px;
  height: 50px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: weigthSpecimen('bolder');
  font-size: 18px;
}

@function weigthOverpass($value) {
  @return map-get($overpass-font-weigth, $value);
}
@function weigthSpecimen($value) {
  @return map-get($specimen-font-weigth, $value);
}

// DROPDOWN MENU
.bg-gradient {
  background: linear-gradient(to top left, $light-red, $very-light-red),
    url(../images/bg-pattern-intro-desktop.svg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
  overflow: hidden;
  position: relative;
  border-bottom-left-radius: 100px;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 10%;
  font-family: 'Ubuntu';
  font-weight: weigthSpecimen('regular');
  z-index: -1;

  nav {
    margin-left: 80px;
    .list-box {
      .list-section {
        display: inline-block;
        position: relative;

        a {
          color: $white;
          font-weight: weigthOverpass('regular');
          padding: 20px 25px;

          &:hover {
            text-decoration: underline 2px solid $white;
          }
        }

        // added
        &:hover .dropdown {
          display: block;
        }

        .dropdown {
          // Added
          width: 120%;
          position: absolute;
          z-index: 999;
          display: none;
          background: $white;
          font-weight: weigthOverpass('regular');
          margin-top: 20px;
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px;

          a {
            color: $very-dark-grayish-blue;
            font-weight: weigthSpecimen('bold');
            transition: all 0.3s ease 0s;
            text-decoration: none;

            &:first-child {
              padding-bottom: 20px;
            }
            // padding: 0 20px 0;

            // Added
            display: block;

            &:hover {
              color: $very-dark-black-blue;
            }
          }
        }

        // Added
        li {
          display: block;
        }
      }
    }
  }
  .btn {
    display: flex;
    margin-left: auto;

    li {
      .sign-up-btn {
        @include commonBtnStyles();
        background: $white;
        color: $light-red;

        &:hover {
          background: hsla(0, 0%, 100%, 0.25);
          color: $white;
        }
      }
      .login-btn {
        @include commonBtnStyles();
        background: transparent;
        color: $white;
        border: none;
      }
    }
  }
}

.header-content {
  // Mixins in use
  @include ceneredDirection(column-reverse);
  padding: 50px 0 120px;
  z-index: 1;
  .content-in-header {
    color: $white;
    h1 {
      font-size: 54px;
    }
    p {
      margin-top: 20px;
      font-size: 20px;
    }
    div {
      margin-top: 50px;
    }
    div {
      button {
        margin: 0 10px;
      }
      .start-for-free-btn {
        @include commonBtnStyles();
        border: none;
        background: $white;
        color: $light-red;

        &:hover {
          background: hsla(0, 0%, 100%, 0.25);
          color: $white;
        }
      }

      .learn-more-btn {
        @include commonBtnStyles();
        border: 2px solid $white;
        color: $white;
        background: transparent;

        &:hover {
          background: $white;
          color: $light-red;
        }
      }
    }
    @include ceneredDirection(column);
  }

  // .bg-pat-dsktop {
  //   z-index: 0;
  // }
}
